<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strona do logowania</title>
</head>
<body>
    <p>Zaloguj się:</p>
    <form action="/validate-credentials" method="post">
        Podaj login:<br>
        <input type="text" name="login">
        <br>
        Podaj hasło:<br>
        <input type="password" name="pass">
        <br>
        Podaj wiek:<br>
        <input type="text" name="age">
        <br>
        <br>
        <input type="submit" value="Zaloguj">
    </form>

</body>
</html>